In [ ]:
Average salary of a person is $100 when a survey was conducted in 2019, 
but now for a survey to be conducted in 2025, I take 30 participants and 
I found out that the average salary of them is one $140 with a standard deviation 
of $20 at a 95% confident interval, can you tell me whether salaries have actually
changed or not?

# carefully

In [ ]:
null : avg salary = 100 (no change in salaries)
alt  : avg salary != 100 (there is significant change is salaries)

In [ ]:
# significance testing
#  never

In [11]:
#librar
from scipy import stats
import numpy as np

#data
sample_mean = 60 #2025
sample_std = 20
n = 30
population_mean = 100 #2019
alpha = 0.05

#1step- t stat
t_statistic = (sample_mean - population_mean) / (sample_std/np.sqrt(n))
print(f"t_statistic:  {t_statistic}")

#step-2
degree_of_freedom = n - 1
print(f"degree_of_freedom : {degree_of_freedom}")

# #step 3 critical value
# t_critical_value = stats.t.ppf(1 - alpha/2, degree_of_freedom)
# print(f"t_critical_value : {t_critical_value}")

#two tail 
p_value = 2 * (1 - stats.t.cdf(abs(t_statistic),degree_of_freedom))
print(f"p_value : {p_value}")


#universal line
if p_value < alpha:
    print("Reject H0: avg salary != 100 (there is significant change is salaries) ")
else:
    print("Accept H0: avg salary = 100 (no change in salaries)")

t_statistic:  -10.954451150103322
degree_of_freedom : 29
p_value : 8.021361352916756e-12
Reject H0: avg salary != 100 (there is significant change is salaries)

In [16]:
punjab_state_avg = 70

sanatan_school_score = [72,75,68,70,76,80,79,73,71,78]

mean = np.mean(sanatan_school_score)
print(f"mean: {mean}")

t_statistic, p_value = stats.ttest_1samp(sanatan_school_score, punjab_state_avg)#two tailed

print(f"t_statistic : {t_statistic}")
print(f"p_value:  {p_value}")


p_value = p_value/2   #to make p_value /2


# null : punjab state and sanatan school are performing same (no sig diff in score)
# alter : punjab state and sanatan school are not performing same (sig diff in score)
    
#universal line
if p_value < alpha:
    print("Reject H0: punjab state and sanatan school are not performing same (sig diff in score)  ")
else:
    print("Accept H0:  punjab state and sanatan school are performing same (no sig diff in score)")

mean: 74.2
t_statistic : 3.27964899966073
p_value:  0.009534613041301007
Reject H0: punjab state and sanatan school are not performing same (sig diff in score)

In [ ]:
#Z test

A factory has a machine that dispenses 80 mL of fluid in a bottle.
Now an employee believes that the machine is not working so he takes 40 samples 
and measures the average quantity and he finds the average quantity to be 78ML 
with a standard deviation of 2.5 ML, can you please state the alternate and null 
hypothesis at 95% confidence interval and provide in a evidence to say whether the
machine is working properly or whether the machine is not working properly?

In [ ]:
null : avg qty of fluid in bottle = 80ml (machine is working fine) 
alt  : avg qty of fluid in bottle != 80ml (machine is not working fine) 
    #two tail test

In [26]:
#lib
from scipy import stats
import numpy as np

#data
sample_mean = 78 #2ml  0.8 ml > sign
population_mean = 80
std_Dev = 2.5
n = 40
alpha = 0.05

z_statistic = (sample_mean - population_mean) / (std_Dev/np.sqrt(n))
print(f"z_statistic : {z_statistic}")

#in ztets rhere is no degree of freedom calclulation
z_critical_value = stats.norm.ppf(1 - alpha/2)
print(f"z_critical_value : {z_critical_value}")

p_value = 2 * (1 - stats.norm.cdf(abs(z_statistic)))
print(f"p_value : {p_value}")

#universal line
if p_value < alpha:
    print("Reject H0: avg qty of fluid in bottle != 80ml (machine is not working fine)")
else:
    print("Accept H0: avg qty of fluid in bottle = 80ml (machine is working fine)")

z_statistic : -5.059644256269407
z_critical_value : 1.959963984540054
p_value : 4.200393977082939e-07
Reject H0: avg qty of fluid in bottle != 80ml (machine is not working fine)

In [27]:
#ztest for proportion

In [ ]:
In a sample survey conducted in Berlin, it was found that 960 out of 1860 were 
vegetarian. Rest were non-vegetarian. Can you calculate at 1% level of significance 
if both vegetarians and non-vegetarians are equally popular or not?

In [ ]:
null : veg and non are = (veg and non-veg are 50-50)
alt : veg and non are != (veg and non-veg are not 50-50)
    #two tail test
    
# 51-49

In [28]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

In [32]:
veg_count = 960
tot_pop = 1860

p_hat = veg_count / tot_pop
print(f"p_hat : {p_hat}")

alpha = 0.01

z_statistic, p_value = proportions_ztest(count=veg_count,
                                        nobs=tot_pop,
                                        value=0.50,
                                        alternative='two-sided') #two tail

print(f"z_statistic : {z_statistic}")
print(f"p_value : {p_value}\n")

#universal line
if p_value < alpha:
    print("Reject H0: veg and non are != (veg and non-veg are not 50-50)")
else:
    print("Accept H0: veg and non are = (veg and non-veg not 50-50)")

p_hat : 0.5161290322580645
z_statistic : 1.3919410907075043
p_value : 0.16394023748003028

Accept H0: veg and non are = (veg and non-veg not 50-50)

In [35]:
veg_count = 400
tot_pop = 1860

p_hat = veg_count / tot_pop
print(f"p_hat : {p_hat}")

alpha = 0.01

z_statistic, p_value = proportions_ztest(count=veg_count,
                                        nobs=tot_pop,
                                        value=0.21,
                                        alternative='two-sided') #two tail

print(f"z_statistic : {z_statistic}")
print(f"p_value : {p_value}\n")

#universal line
if p_value < alpha:
    print("Reject H0: veg and non are != (veg and non-veg are not 79-21)")
else:
    print("Accept H0: veg and non are = (veg and non-veg not 79-21)")

p_hat : 0.21505376344086022
z_statistic : 0.5304908556659641
p_value : 0.5957716474378414

Accept H0: veg and non are = (veg and non-veg not 79-21)

In [36]:
#f test

null : var_dolo = var_crocin (no sig diff btw var of dolo and crocin)
alt : var_dolo != var_crocin (sig diff btw var of dolo and crocin)

In [37]:
from scipy.stats import f
import numpy as np

In [42]:
#data
n1 = 10
n2 = 13
x1 = 15
x2 = 14
ssd1 = 90
ssd2 = 108

alpha= 0.05 # 5% 

#variances of the products
var_dolo = ssd1 / (n1 - 1)
var_crocin = ssd2 / (n2 - 1)
print(f"var_dolo : {var_dolo} ||||| var_crocin: {var_crocin}")

#calc f_stast
f_statistic = max(var_dolo,var_crocin)/ min(var_dolo, var_crocin)
print(f"f_statistic : {f_statistic}")

df_dolo = n1 - 1
df_crocin = n2 - 1

p_value = 2 * (1 - f.cdf(f_statistic, df_dolo, df_crocin))
print(f"p_value : {p_value}")

#universal line
if p_value < alpha:
    print("Reject H0: var_dolo != var_crocin (sig diff btw var of dolo and crocin)")
else:
    print("Accept H0: var_dolo = var_crocin (no sig diff btw var of dolo and crocin)")

var_dolo : 10.0 ||||| var_crocin: 9.0
f_statistic : 1.1111111111111112
p_value : 0.8450844722222652
Accept H0: var_dolo = var_crocin (no sig diff btw var of dolo and crocin)

In [5]:
#ANOVA - one way , two way anova

null : fertilizer_A = fertilizer_B = fertilizer_C (there are no sig diff in performance)
alt : fertilizer_A != fertilizer_B != fertilizer_C (there are sig diff btw fertilizer perfomance)

In [10]:
from scipy.stats import f_oneway
alpha = 0.05 

fertilizer_A = [12, 13, 15, 14, 16, 13, 15, 14, 15, 13] #10 plants 4 growth in cm
fertilizer_B = [14, 15, 16, 15, 17, 15, 16, 14, 16, 15]
fertilizer_C = [11, 12, 13, 12, 14, 12, 13, 11, 13, 12]

f_statistic, p_value = f_oneway(fertilizer_A, fertilizer_B, fertilizer_C)

print(f"f_statistic : {f_statistic}")
print(f"p_value : {p_value}\n")

#universal line
if p_value < alpha:
    print("Reject H0: fertilizer_A != fertilizer_B != fertilizer_C (there are sig diff btw fertilizer perfomance) ")
else:
    print("Accept H0: fertilizer_A = fertilizer_B = fertilizer_C (there are no sig diff in performance) ")

f_statistic : 20.235099337748334
p_value : 4.269715761720122e-06

Reject H0: fertilizer_A != fertilizer_B != fertilizer_C (there are sig diff btw fertilizer perfomance)

In [15]:
import numpy as np
print(f"Mean A : {np.mean(fertilizer_A)} |||||| Var A : {np.var(fertilizer_A)}\n")
print(f"Mean B : {np.mean(fertilizer_B)} |||||| Var B : {np.var(fertilizer_B)}\n")
print(f"Mean C : {np.mean(fertilizer_C)} |||||| Var C : {np.var(fertilizer_C)}")

Mean A : 14.0 |||||| Var A : 1.4

Mean B : 15.3 |||||| Var B : 0.8099999999999999

Mean C : 12.3 |||||| Var C : 0.8099999999999999

In [17]:
#two way anova
import pandas as pd
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [19]:
data = {
    "gender":["male","female","male","female","male","female",
             "male","female","male","female"],
    "education_level":["hs","bach","bach","mas","hs","bach","mas",
                      "hs","bach","mas"],
    "income":[30000, 50000, 45000, 60000, 32000, 55000,48000,33000,
             52000, 47000]   
}
df = pd.DataFrame(data)
df

   gender education_level  income
0    male              hs   30000
1  female            bach   50000
2    male            bach   45000
3  female             mas   60000
4    male              hs   32000
5  female            bach   55000
6    male             mas   48000
7  female              hs   33000
8    male            bach   52000
9  female             mas   47000

In [21]:
model = ols("income ~ gender + education_level + gender:education_level",
           data=df).fit()
model

In [22]:
anova_lm(model)

                         df        sum_sq       mean_sq          F    PR(>F)
gender                  1.0  1.444000e+08  1.444000e+08   4.676923  0.096605
education_level         2.0  6.775810e+08  3.387905e+08  10.972971  0.023767
gender:education_level  2.0  4.119048e+06  2.059524e+06   0.066705  0.936490
Residual                4.0  1.235000e+08  3.087500e+07        NaN       NaN

In [24]:
#chi 2 analysis

observed = [23, 16, 14, 19, 28]
expected = [20, 20, 20, 20, 20]

chi2_stats = 0
#type-1
for observed_val, expected_val in zip(observed,expected):
    chi2_stats += ((observed_val-expected_val)**2)/expected_val
chi2_stats

#type-2 ddof
observed = np.array([23, 16, 14, 19, 28])
expected = np.array([20, 20, 20, 20, 20])

chi2_stats = np.sum((observed - expected)**2/expected)
chi2_stats

6.3

In [26]:
#Critical value 
from scipy.stats import chi2
df = 4
alpha =0.05 
criticl_Value = chi2.ppf(1-alpha, df)
criticl_Value

9.487729036781154

In [28]:
p_value = 1 - chi2.cdf(chi2_stats, df)
print(f"p_value : {p_value}")


if p_value < alpha:
    print("Reject H0: Ob != Exp ; do not purchase the restaurant ")
else:
    print("Accept H0: Ob = Exp ; purchase the restaurant")

p_value : 0.1778363264982168
Accept H0: Ob = Exp ; purchase the restaurant

In [29]:
df = pd.read_csv("./coffee_wars.csv")
df.head(4)

   Customer_ID         Cafe_Name  Rating  Coffee_Temp Coffee_Type
0            1         Brewtopia     4.5           70       Latte
1            2         Cafe Java     3.8           65  Cappuccino
2            3  Espresso Express     4.2           68    Espresso
3            4         Brewtopia     4.8           71       Latte

In [33]:
df.shape

(30, 5)

In [31]:
df.Cafe_Name.value_counts()
# Brewtopia - mugesh
# Cafe Java - ravi
# vaibhav - Espresso Express

Cafe_Name
Brewtopia           10
Cafe Java           10
Espresso Express    10
Name: count, dtype: int64

## compare brewtopia and cafe java ratings

In [36]:

brewtopia_ratings = df[df['Cafe_Name']=="Brewtopia"]["Rating"]
java_ratings = df[df['Cafe_Name']=="Cafe Java"]["Rating"]

In [37]:
from scipy import stats

# null : bre = jav (no sig diff in ratings)
# alt: bre != jav (sig diff in ratings)

t_stat, p_val = stats.ttest_ind(brewtopia_ratings,java_ratings)

alpha = 0.05
if p_value < alpha:
    print("Reject H0 : bre != jav (sig diff in ratings)")
else:
    print("Accept H0 : bre = jav (no sig diff in ratings)")

Accept H0 : bre = jav (no sig diff in ratings)

In [41]:
# variance ratings brewtopia and espre ex

exp_rating = df[df['Cafe_Name']=="Espresso Express"]["Rating"]

In [44]:
brewtopia_var = np.var(brewtopia_ratings, ddof=1)
exp_var = np.var(exp_rating, ddof=1)

print(f"brewtopia_var : {brewtopia_var}")
print(f"exp_var: {exp_var}")

dfn, dfd = len(brewtopia_ratings)-1, len(exp_rating)-1

f_stat = max(brewtopia_var,exp_var)/min(brewtopia_var,exp_var)
print(f"f_stat  : {f_stat}")

#one. tail 
p_value = 1 - stats.f.cdf(f_statistic, dfn, dfd)

if p_value < alpha:
    print("Reject H0 : bretopis != esp exp sig diff")
else:
    print("Accept H0 : bretopis = esp exp sig diff")

brewtopia_var : 0.038222222222222275
exp_var: 0.017333333333333353
f_stat  : 2.2051282051282057
Reject H0 : bretopis != esp exp sig diff

In [46]:
# all the cafe
# brewtopia_ratings
# java_ratings
# exp_rating

null : brewtopia = cafe jave = espresso exp (similar)
alt : brewtopia != cafe jave != espresso exp  (one cafe )

In [49]:
f_stat, p_value = f_oneway(brewtopia_ratings,java_ratings,exp_rating)
print(f"f_stat: {f_stat}")
print(f"p_value : {p_value}")

if p_value < alpha:
    print("Reject H0 : brewtopia != cafe jave != espresso exp  (one cafe )")
else:
    print("Accept H0 : brewtopia = cafe jave = espresso exp (similar)")

f_stat: 83.55154639175262
p_value : 2.722529966514772e-12
Reject H0 : brewtopia != cafe jave != espresso exp  (one cafe )

In [50]:
np.mean(brewtopia_ratings)

4.66

In [51]:
np.mean(java_ratings)

3.6799999999999997

In [52]:
np.mean(exp_rating)

4.18

In [53]:
x = [3,4,5,6,7,8]
x_bar = np.mean(x)

In [54]:
np.var(x)   #divide by n - pop var

2.9166666666666665

In [55]:
np.var(x,ddof=1) # divin by n-1 sample var

3.5